<script
  src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
  integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
  crossorigin="anonymous"
></script>
<script type="text/javascript" charset="utf-8">
  var socket = io();
  function sendCommand() {
    const position = document.getElementById("position").value;
    socket.emit("move", position);
  }
  function locate() {
    socket.emit("locate");
  }
  function relocate() {
    const lower = document.getElementById("lower").value.replace(",", ".");
    const upper = document.getElementById("upper").value.replace(",", ".");
    socket.emit("relocate", lower + "," + upper);
  }
  socket.on("position", (position) => {
    document.getElementById("position").value = position;
    refreshImage();
  });
  socket.on("position-failed", (message) => {
    console.log(message);
    refreshImage();
  });
  function refreshImage() {
    document.getElementById("camera").src = "/static/camera.png?" + +new Date();
    document.getElementById("canny-camera").src =
      "/static/canny_camera.png?" + +new Date();
  }
</script>
<style>
  button,
  input {
    font-size: 3rem;
  }
  img {
    max-width: 480px;
    min-width: 240px;
    image-rendering: pixelated;
  }
</style>
<body onload="refreshImage()">
  <input id="position" value="10,0" />
  <button onclick="sendCommand()">Move</button>
  <button onclick="locate()">Locate</button>
  <input id="lower" value="10" type="number" />
  <input id="upper" value="10" type="number" />
  <button onclick="relocate()">Relocate</button>
  <br />
  <img id="camera" src="/static/camera.png" />
  <img id="canny-camera" src="/static/canny_camera.png" />
</body>
