<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <!--<script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>-->
  </head>
  <style>
    body {
      font-family: "Open Sans";
      background-color: #1e1e1eee;
    }
    button,
    input {
      font-size: 3rem;
      max-width: 480px;
      width: 100%;
    }
    img {
      max-width: 480px;
      min-width: 240px;
      image-rendering: pixelated;
    }
  </style>
  <body class="min-h-screen py-1 text-gray-300">
    <div id="app"></div>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/components/prism-core.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.23.0/components/prism-json.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.18.0/matter.min.js"></script>
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/prop-types@15.7.2/prop-types.js" crossorigin></script>
    <script src="https://unpkg.com/state-local@1.0.7/lib/umd/state-local.min.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script type="text/babel" data-type="module">
      function Button({ label, color = "bg-blue-500", ...props }) {
        return (
          <button className={color + " hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"} {...props}>
            {label}
          </button>
        );
      }

      function ArmController({ onJointUpdate, jointRotations, jointLengths }) {
        const canvasRef = React.useRef();
        const [ctx, setCtx] = React.useState(null);
        const [mouseIsDown, setMouseIsDown] = React.useState(false);
        const width = 512;
        const height = 512;
        const canvasWidth = 16;
        const cm = width / canvasWidth;
        const offsetX = 6 * cm;
        const padding = 2 * cm;
        const [pos, setPos] = React.useState({ x: 0, y: 50 * cm });

        React.useEffect(() => {
          if (canvasRef.current) {
            setCtx(canvasRef.current.getContext("2d"));
          }
        }, []);

        const sin = (x) => Math.sin((x * Math.PI) / 180);
        const cos = (x) => Math.cos((x * Math.PI) / 180);
        const posToDir = (dx, dy) => 90 - (Math.atan2(dy, dx) * 180) / Math.PI;
        const dist = (dx, dy) => Math.sqrt(dx * dx + dy * dy);

        React.useEffect(() => {
          if (ctx) {
            const cx = (canvasWidth / 2) * cm + offsetX;
            const cy = canvasWidth * cm;

            ctx.fillStyle = "#2d2d2d";
            ctx.strokeStyle = "#ddd";
            ctx.strokeWeight = 5;

            ctx.beginPath();
            ctx.fillRect(0, 0, width, height);
            ctx.fillStyle = "#000";
            ctx.fillRect(padding, padding, width - padding * 2, height - padding * 2);

            const j1r = jointRotations[0];
            const j1l = jointLengths[0];
            const j1x = cx + j1l * cm * sin(j1r);
            const j1y = cy - j1l * cm * cos(j1r);

            const j2r = jointRotations[1];
            const j2l = jointLengths[1];
            const j2x = j1x + j2l * cm * sin(j1r + j2r);
            const j2y = j1y - j2l * cm * cos(j1r + j2r);

            const j3r = jointRotations[2];
            const j3l = jointLengths[2];
            const j3x = j2x + j3l * cm * sin(j1r + j2r + j3r);
            const j3y = j2y - j3l * cm * cos(j1r + j2r + j3r);

            ctx.moveTo(cx, cy);
            ctx.lineTo(j1x, j1y);
            ctx.lineTo(j2x, j2y);
            ctx.lineTo(j3x, j3y);
            ctx.stroke();
          }
        }, [ctx, jointRotations, jointLengths]);

        function setMousePosition({ clientX, clientY }) {
          if (mouseIsDown) {
            const { left, top } = canvasRef.current.getBoundingClientRect();
            const x = ((clientX - left - width / 2) * canvasWidth) / width - offsetX / cm;
            const y = ((height - (clientY - top)) * canvasWidth) / height;
            setPos({ x, y });
          }
        }

        const jointRotationsRef = React.useRef(jointRotations);
        React.useEffect(() => {
          jointRotationsRef.current = jointRotations;
        }, [jointRotations]);

        const jointLengthsRef = React.useRef(jointLengths);
        React.useEffect(() => {
          jointLengthsRef.current = jointLengths;
        }, [jointLengths]);

        React.useEffect(() => {
          const { x, y } = pos;
          let [rot1, rot2, rot3] = jointRotationsRef.current;
          let [len1, len2, len3] = jointLengthsRef.current;
          let x0 = 0;
          let x1 = x0 + len1 * sin(rot1);
          let x2 = x1 + len2 * sin(rot1 + rot2);
          let x3 = x2 + len3 * sin(rot1 + rot2 + rot3);
          let y0 = 0;
          let y1 = y0 + len1 * cos(rot1);
          let y2 = y1 + len2 * cos(rot1 + rot2);
          let y3 = y2 + len3 * cos(rot1 + rot2 + rot3);

          const d = dist(x, y);
          const tlen = len1 + len2 + len3;
          if (d > tlen) {
            rot1 = posToDir(x, y);
            rot2 = 0;
            rot3 = 0;
          } else {
            const dir = posToDir(x, y);
            let bend = 1 - (d - len2) / tlen;
            if (d > tlen - len3) {
              const p = 1 - Math.pow(((d - len2 - len1) / tlen) * 3, 4);
              bend = 1 - (d - len2 * p) / tlen;
            }
            rot1 = dir + 90 * bend;
            rot2 = -90 * bend;
            rot3 = -90 * bend;
          }

          jointRotationsRef.current = [rot1, rot2, rot3];
          jointLengthsRef.current = [len1, len2, len3];
          onJointUpdate(0, rot1);
          onJointUpdate(1, rot2);
          onJointUpdate(2, rot3);
        }, [pos]);

        const style = {
          width,
          height,
        };

        return (
          <canvas
            onMouseDown={() => setMouseIsDown(true)}
            onMouseUp={() => setMouseIsDown(false)}
            onMouseMove={setMousePosition}
            ref={canvasRef}
            width={width}
            height={height}
            style={style}
          ></canvas>
        );
      }

      function App() {
        const positionRef = React.useRef();
        const lowerRef = React.useRef();
        const upperRef = React.useRef();
        const cameraRef = React.useRef();
        const cannyCameraRef = React.useRef();
        const socket = React.useRef();
        const [realtimeRotation1, setRealtimeRotation1] = React.useState(30);
        const [realtimeRotation2, setRealtimeRotation2] = React.useState(30);
        const [realtimeRotation3, setRealtimeRotation3] = React.useState(30);
        const [snapshots, setSnapshots] = React.useState([]);

        function refreshImage() {
          if (cameraRef.current) cameraRef.current.src = "/static/camera.png?" + +new Date();
          if (cannyCameraRef.current) cannyCameraRef.current.src = "/static/canny_camera.png?" + +new Date();
        }

        React.useEffect(() => {
          socket.current = typeof io !== "undefined" ? io() : { on: () => {}, emit: () => {} };
          refreshImage();
          socket.current.on("position", (position) => {
            position.current.value = position;
            refreshImage();
          });
          socket.current.on("position-failed", (message) => {
            console.log(message);
            refreshImage();
          });
        }, []);

        const addSnapshot = (snapshot) => {
          setSnapshots((s) => [...s, snapshot]);
        };

        const prevTime = React.useRef(Date.now());
        const minDt = 0.1 * 1000;
        React.useEffect(() => {
          const now = Date.now();
          if (prevTime.current + minDt < now) {
            const snapshot = [realtimeRotation1, realtimeRotation2, realtimeRotation3].join(",");
            addSnapshot(snapshot);
            prevTime.current = now;
          }
        }, [realtimeRotation1, realtimeRotation2, realtimeRotation3]);

        function sendMoveCommands(snapshots) {
          socket.current.emit("moves", snapshots.join(";"));
        }
        function locate() {
          socket.current.emit("locate");
        }
        function relocate() {
          const lower = lowerRef.current.value.replace(",", ".");
          const upper = upperRef.current.value.replace(",", ".");
          socket.current.emit("relocate", lower + "," + upper);
        }

        return (
          <div className="container flex flex-col gap-8 mx-auto pb-20">
            <input ref={positionRef} defaultValue={10} min={0} max={100} type="number" />
            <button onClick={() => sendMoveCommands(snapshots)}>Send</button>
            <input
              onChange={(e) => {
                setRealtimeRotation1(e.target.value);
              }}
              value={realtimeRotation1}
              min={-135}
              max={135}
              type="number"
            />
            <input
              onChange={(e) => {
                setRealtimeRotation2(e.target.value);
              }}
              value={realtimeRotation2}
              min={-135}
              max={135}
              type="number"
            />
            <input
              onChange={(e) => {
                setRealtimeRotation3(e.target.value);
              }}
              value={realtimeRotation3}
              min={-135}
              max={135}
              type="number"
            />
            <ArmController
              onJointUpdate={(joint, rotation) => {
                if (joint === 0) {
                  setRealtimeRotation1(Math.floor(rotation * 100) / 100);
                }
                if (joint === 1) {
                  setRealtimeRotation2(Math.floor(rotation * 100) / 100);
                }
                if (joint === 2) {
                  setRealtimeRotation3(Math.floor(rotation * 100) / 100);
                }
              }}
              jointRotations={[realtimeRotation1, realtimeRotation2, realtimeRotation3]}
              jointLengths={[6.35, 6.35, 6.35]}
            />
            {/*<Button onClick={() => sendMoveCommand(0, 1)} label="Move 0 up" />
            <Button onClick={() => sendMoveCommand(0, -1)} label="Move 0 down" />
            <Button onClick={() => sendMoveCommand(1, 1)} label="Move 1 up" />
            <Button onClick={() => sendMoveCommand(1, -1)} label="Move 1 down" />
            <br />
            <Button onClick={() => locate()} label="Locate" />
            <br />
            <input ref={lowerRef} defaultValue={40} type="number" />
            <input ref={upperRef} defaultValue={20} type="number" />
            <Button onClick={() => relocate()} label="Relocate" />
            <br />
            <img ref={cameraRef} src="/static/camera.png" />
            <img ref={cannyCameraRef} src="/static/canny_camera.png" />*/}
          </div>
        );
      }

      ReactDOM.render(<App className="" />, document.querySelector("#app"));
    </script>
  </body>
</html>
